<%- include("partials/header.ejs") %>
  <h1>Welcome to the book blog</h1>
    <form action="/submit" method="POST" id="main-post">
      <textarea
        id="thoughts"
        type="text"
        name="thoughts"
        rows="4"
        cols="50"
        placeholder="tell us your current thoughts"
      ></textarea>
      <input type="submit" value="OK" id="ok" />
    </form>

    <% if (thoughtBubble.length > 0) { %>
    <div id="post">
      <% thoughtBubble.forEach(function(post, index) { %>
      <p><%= Year %></p>
      <h5><%= post %></h5>
      <form action="/delete/<%= index %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <form id="bubble" action="/put/<%= index %>?_method=PUT" method="POST">
        <textarea type="text" name="_method" placeholder="changed your mind?" rows="2"
        cols="30"></textarea> 
        <button type="submit" id="box">Update</button>
      </form>
      <% }); %>
    </div>
    <% } else { %>
    <p>No posts yet. Submit one!</p>
    <% } %>

    <%- include("partials/footer.ejs") %>
